extends template
block content
    div
        h2 Hello #{realtorName}!
            br
        h4 Please click bellow to activate your account.
        a(href=`${frontendUrl}/user/activate/${token}`) Activate

