extends template
block content
    div
        h1 Hi #{realtorName}!
            br
        p You've successfully changed your RealEstateAgency password .
            br
            br
        p Thanks for using RealEstateAgency.
