doctype html
html
    head
        style
            include style.css
        body
            div.header
                block content
            div.footer
                span With best regards
                br
                span RealEstateAgency
                br
                a(href=frontendUrl) Visit our web site
