doctype html
html
    head
        style
            include style.css
        body
            div.header
                block content
            div.footer
                |  With best regards
                br
                | Real Estate Agency
                br
                a(href=frontendUrl) Visit our web site
